body {
    margin: 0;
    height: 100vh;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-content: row;
    color: #ffffff;
}

.bgimg {
    display: flex;
    width: 55%;
    height: 100vh;
    margin-bottom: 0px;
    justify-content: flex-start;
}

.row .minilogo {
    float: left;
    height: 65px;
    width: 65px;
    margin-top: 25px;
    margin-left: 25px;
}

.footer_nav {
    font-size: 15px;
    font-style: normal;
}

.footer_nav:hover {
    text-decoration: underline;
}

.bgimg {
    display: flex;
    width: 55%;
    height: 100vh;
    margin-bottom: 0px;
    justify-content: flex-start;
}

footer {
    margin-top: 0;
    margin-bottom: 0;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 30px;
}

.navlinks li {
    display: inline-block;
    
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #717669;
}

.navlinks li a:hover {
    text-decoration: underline;
}